snippet cmp "Skeleton" b
#include <bits/stdc++.h>

using namespace std;

int main() {
  ios::sync_with_stdio(0);
  cin.tie(0);

  // freopen("$1in.txt", "r", stdin);
  // freopen("$1out.txt", "w", stdout);

  $0

  return 0;
}
endsnippet
